$color_text:rgb(255, 255, 255);
$color_fond:rgba(255, 255, 255, 0.3);
$align:center;
$bgImage: "../imagenes/fondo.jpg";
* {
    margin: 0;
    padding: 0;
    color: $color_text;
}

body {
    font-family: 'Times New Roman', 'Roboto', sans-serif;
    background-size: 100% 200%;
    align-items: $align;
    text-align: $align;
    background-image:url('#{$bgImage}');
}

.fondo {
    border-radius: 8px;
    box-shadow: 0 0 10px $color_fond;
    transition: transform 0.3s ease-in-out;
}  
